.overlay{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color:rgba(1, 42, 74, .9) ;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}
.contenedor-modal{
    width: 80%;
    /* min-height: 85vh; */
    max-width: 900px;
    background-color: #fff;
    position: relative;
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111,0.2) 0px 7px 29px 0px ;
    padding: 20px;
    z-index: 2;
    background-color: rgba(1, 42, 74, 1);
    color: #fff;

}

.contenedor-boton-cerrar-modal{
    position: absolute;
    top: -11px;
    right: -10px;
}
.boton-cerrar-modal{
display: flex;
align-items: center;
justify-content: center;
border: none;
background-color: transparent;
transition: 0.3 ease all;
color: #FFA500;
font-size: 32px;
}
.boton-cerrar-modal:hover {
    transform: scale(1.1);
}


.contenido-modal{
    max-height: 75vh;
    min-height: 400px;
    overflow-y: scroll;
   
}