.my-skills-section {
  min-height: 70vh;

padding-bottom: 30px;

background-color: #013a63;
}
.article-skills-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 600px));
    justify-content: center;
    gap: 10px;

}
.article-skills-container  article{
    
    width: 100%;



  
}

.title-skill {
    text-align: center;
    margin-bottom: 50px;
    color: #fff ;
font-family: 'Roboto', sans-serif;
padding-top: 30px;

  
}
.title-area{

    text-align: center;
    font-style: italic;
    margin-bottom: 20px;
    color: #FFA500;
    font-size: 33px;
    
}
.skills-container {

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(90px, 150px));
 gap: 50px;
 justify-content: center;
  text-align: center;
  padding: 10px 20px;
  border-radius: 8px;

  
}
.skill-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-shadow: -1px 0px 7px 3px rgba(0, 0, 0, 0.17);
border-radius: 8px;
padding: 10px 20px;
  text-align: center;
transition: 0.5s;
background-color: rgba(1, 42, 74, .85);
}

.skill-card:hover{
  transform: scale(1.1);
}

.skill-card img {
 
width: 80%;
transition: 0.5s;

}
.skill-card:hover img{
  transform: scale(0.8);
}
