@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@700&family=Heebo:wght@200&family=Josefin+Sans:ital,wght@1,300&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  
  
}
html{
  scroll-behavior: smooth;
}
body{
  background-color: #fff;
  color: hsl(209, 23%, 22%);
}
h1,h2,h4{
  font-family: 'Montserrat', sans-serif;

  /* font-size: 28px; */
}
p,a,button{
  font-family: 'Open Sans', sans-serif;
  /* font-size: 20px; */
  font-weight: 700;

}
span,label{
  font-family: 'Open Sans', sans-serif;
  font-weight:600 ;

}


a{
  text-decoration: none;
color: #4285F4 ;

}

a:hover{
 color: rgba(66, 133, 244, 0.3);

}
a:active{
  color: rgba(255, 165, 0, 0.5);
  ;
}
a span {
  cursor: pointer;
  user-select: none;
}