.proyecto-detail-volver-button-container{
    
        display: flex;
        justify-content: space-between;
    overflow: hidden;
    align-items: center;
    height: 50px;
    padding: 10px;
    background-color: rgba(1, 42, 74, .9);
    
    box-shadow: -1px 0px 7px 3px rgba(0, 0, 0, 0.17);
    
}
.proyecto-detail-content {
    background: linear-gradient(rgba(1, 42, 74, 0.85), rgba(1, 42, 74, 0.85)), url("../../assets/imgs/fondo-project-detail.jpg");
    min-height: 65vh;

 
}

.proyecto-detail-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: rgba(1, 42, 74, .45);
    padding: 20px 30px;
    
}

.proyecto-detail-back-link {

    top: 20px;
    left: 20px;
    border: #ffeb85;
    background-color: #ffeb85;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
    text-decoration: none;
    transition: color 0.3s;
}

.proyecto-detail-back-link:hover {
    background-color:#ffa500 ;
}

.proyecto-detail-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color:  #FFA500;
}

.proyecto-detail-description {
    font-size: 18px;
    line-height: 1.5;
    font-weight: 100;
    margin-bottom: 20px;
    text-align: center;
}



.proyecto-detail-links {
    display: flex;
    justify-content: center;

}

.proyecto-detail-link {
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    padding: 10px 20px;
    border: 2px solid #4285F4;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.proyecto-detail-link:hover {
    background-color: #4285F4;
    color: #fff;
}
.proyecto-detail-technologies {
    margin-top: 20px;
    text-align: center;
}
@media  (min-width: 850px) {
    .proyecto-detail-technologies{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
        min-height: 40vh;
       margin-top: 15px;
    }
    .proyecto-detail-technologies h2{
        width: 43%;
    }
    .proyecto-detail-technologies ul {
        width: 56%;
    }
}
.proyecto-detail-technologies-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 24px;
 
    color:  #FFA500;
}


.proyecto-detail-technologies-list {
    list-style: none;
    padding: 10px 15px;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px 15px;
}
@media (min-width: 850px){
    .proyecto-detail-technologies-list{
    grid-template-columns: 1fr 1fr ;
}
}

.proyecto-detail-technology {
    display: inline-block;


    padding: 15px 30px;
    background-color: #4285F4;
    color: #fff;
    border-radius: 5px;
    font-size: 22px;
}

.proyecto-detail-technology:last-child {
    margin-right: 0;
}
.proyecto-detail-image{
    max-width:600px ;
    max-height: 300px;;
    object-fit: contain;
    width: 66%;

}
.proyecto-detail-description{
    padding: 2px 19px;
}
@media  (min-width: 850px) {
    .proyecto-detail-content{
     display:flex;
     flex-direction: row;
     align-items: flex-center;
     justify-content: space-around;
     
    }
    .proyecto-detail-description{
           padding: 2px 19px;
    }
   

/* .proyecto-detail-overview{
    background-color: rgba(111, 213, 255, .85);
    width: 100%;
    min-height: 45vh;
} */

    .proyecto-detail-presentation-container{
        width: 66%;
      display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
  }
