.section-proyectos
{
   
    min-height: 90vh;
    text-align: center;
    background-color: #013a63;
}
#proyectos{
    
    text-align: center;
    margin-bottom: 50px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    padding-top: 30px;

}
.proyecto-cards-container
{margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(
        auto-fill ,
minmax(90px , 420px )
    );

    margin-top: 20px;
gap: 20px;
    padding-bottom: 60px;
justify-content: center;
align-items: center;
padding-bottom:30px;

}

.proyecto-card
{



  /* box-shadow: -1px 0px 7px 3px rgba(0, 0, 0, 0.17); */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
overflow: hidden;
padding-bottom:30px;
background-color: rgba(1, 42, 74, .85);
}
.proyecto-card-title{
color: #FFA500;
font-weight: bold;
font-style: italic;
    
}
.contenido-detail{
  
    justify-content: space-between;
    padding: 2px 19px;
    min-height: 256px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contenido-detail p {
    color: #fff;
        font-size: 17px;
    line-height: 1.8;
    word-spacing: 1px;
    text-align: center;
}
.img-proyecto-card{
    min-width: 100%;
    
    height: 260px;

}


#btn-ver-mas{
    width: 250px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 11px 26px;
    font-size: 21px;

}
.project-details{
    min-width: 300px;
}
.project-details ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-bottom: 20px;
}
.image-detail-project{
    min-width: 300px;
    max-width: 700px;
    width: 100%;
}
.project-details div p{
    line-height: 1.75;
letter-spacing: 0px;
word-spacing: 3px;
}